@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navy-950: #050A14;
    --navy-900: #091423;
    --navy-800: #0F1D31;
    --navy-700: #1a233a;
    
    --brand-600: #1E90FF;
    --brand-500: #39A0FF;
    --brand-400: #60a5fa;
    --brand-deep: #1d4ed8;
    
    --ink-900: #111827;
    
    --panel-black: #050505;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body {
    @apply bg-navy-950 text-white font-body;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

